body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5dc;
}

#gameCanvas {
    display: block;
    margin: auto;
    border: 5px solid white;
}

#score {
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
    color: white;
    font-size: 24px;
    pointer-events: none;
}

#combo {
    width: 100%;
    position: absolute;
    top: 30px;
    text-align: center;
    color: white;
    font-size: 24px;
    pointer-events: none;
}